<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ezbus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/App.Green">
        <activity
            android:name=".client.BuyTicketActivity"
            android:configChanges="orientation|screenSize"
            android:label="Acquista Biglietto"></activity>
        <activity
            android:name=".management.PriceManagerActivity"
            android:configChanges="orientation|screenSize"
            android:label="Gestione Prezzi" />
        <activity
            android:name=".management.EditPassActivity"
            android:configChanges="orientation|screenSize"
            android:label="Modifica Abbonamento" />
        <activity
            android:name=".management.EditRouteActivity"
            android:configChanges="orientation|screenSize"
            android:label="Modifica Tratta" />
        <activity
            android:name=".client.RechargeActivity"
            android:configChanges="orientation|screenSize"
            android:label="Ricarica Credito" />
        <activity
            android:name=".client.BuyPassActivity"
            android:configChanges="orientation|screenSize"
            android:label="Acquista Abbonamento" />
        <activity
            android:name=".management.AddStopActivity"
            android:configChanges="orientation|screenSize"
            android:label="Aggiungi Fermata" />
        <activity
            android:name=".management.AddPassActivity"
            android:configChanges="orientation|screenSize"
            android:label="Aggiungi Abbonamento" />
        <activity
            android:name=".main.WelcomeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/App.Green.NoActionBar" />
        <activity
            android:name=".authentication.PrivacyActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/App.Green.NoActionBar"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".authentication.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="Profilo" />
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="ezBus"
            android:theme="@style/NoApp.Green">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Login" />
        <activity
            android:name=".authentication.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Registrazione">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ezbus.authentication.RegisterActivity" />
        </activity>
        <activity
            android:name=".main.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="Impostazioni" />
        <activity
            android:name=".management.RouteManagerActivity"
            android:configChanges="orientation|screenSize"
            android:label="Gestione Tratte" />
        <activity
            android:name=".management.AddRouteActivity"
            android:configChanges="orientation|screenSize"
            android:label="Aggiungi Tratta" />
        <activity
            android:name=".management.PassManagerActivity"
            android:configChanges="orientation|screenSize"
            android:label="Gestione Abbonamenti" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>